{% extends 'ups/base.html' %}
{% load static %}

{% block css_static %}
<link rel="stylesheet" type="text/css" href="{% static 'ups/css/truck_map.css' %}">
{% endblock %}

{% block content %}
<div style="text-align:left;">
  <a href="/track_shipment" class="w3-button w3-red w3-margin-right:20px">Back</a>
</div>
<br /><br />
<div class="w3-container">


  <h2>Details of the shipment</h2>

  <br /><br />

  <i class="fa fa-address-book" style="width:30px"></i>Tracking Number: {{package.trackingnum}}<br>
  <br /><br />

  <i class="fa fa-clock-o" style="width:30px"></i> Package Status: {{package.status}}<br>
  <br /><br />

  <i class="fa fa-truck" style="width:30px"> </i> Delivered by: truck {{package.truckid.truckid}}<br>
  <br /><br />

</div>

<var id="trucks" style="display: none;">{{trucks_serialize}}</var>
<var id="packages" style="display: none;">{{destination_serialize}}</var>

<canvas class="my-canvas" id="my-canvas" width="1024" height="512"></canvas>
<img id="truck" width="300" height="200" src="{% static 'ups/images/delivery-truck.png' %}?ver=2" alt="My truck"
  style="display: none;">
<img id="house" width="500" height="500" src="https://www.pngkit.com/png/detail/608-6082929_house-clipart-black-and-white.png" alt="My House"
style="display: none;">

<br>
<br>


<script src="{% static 'ups/javascripts/track_shipment_scripts.js' %}?ver=2"></script>
<script src="{% static 'ups/javascripts/keyboard.js' %}?ver=2"></script>



{% endblock %}